$color1: #f8fafb;
$color2: #98a9bc;
$color3: #4d7cfe;
$color4: #252631;
$color5: #e8ecef;
$color6: #ffffff;
$color7: #ffab2b;
$color8: #fffaf0;
$color9: #6dd230;
$color10: #f5fdf0;
$color11: #fe4d97;
$color12: #fff4f9;
$color13: #4d7cfe;
$color14: #f0f3fb;
$color15: #868686;
$color16: #ececec;
$color17: #778ca2;
$color18: #fdfdfd;
$color19: #d8d8d8;
